html, body{
    margin: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    background-color: blue;
    width: 20%;
    aspect-ratio: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.screen {
    width: 80%;
    height:12%;
    background-color: lightyellow;
}

.buttons {
    width: 80%;
    height: 72%;
    background-color: white;
}